@import index

.comprar
    display: flex
    height: 100%
    .title
        flex: 0.3
        display: flex
        align-items: center
        h1
            color: $cream
            margin-left: -0.05em
            font-family: "League Gothic"
            font-style: italic
            font-size: 6.6em
            text-transform: uppercase
            &::before
                content: "Comprar"
                position: absolute
                transform: scale(2)
                color: transparent
                -webkit-text-stroke: 2px white
                opacity: 0.05
                left: -0.1em

    .content
        flex: 0.7
        .cards
            padding: 0 0 0 3em
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            gap: 1em 1em
            width: 100%
            .card
                width: 100%
                background-color: $cream
                height: 20em
                border-radius: 0.4em
                overflow: hidden
                transition: all 0.4s ease
                position: relative
                display: flex
                align-items: center
                justify-content: center
                .info-box
                    position: absolute
                    z-index: 100
                    background-color: $dark
                    color: $cream
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    padding: 0.4em 2em
                    bottom: 0.2em
                    width: fit-content
                    border-radius: 0.4em
                    opacity: 0
                    transition: all 0.4s ease
                    .name
                        font-weight: 600
                        font-size: 1.4em
                    .dir
                        font-size: 1.2em
                    &:hover
                        transform: scale(1.05)
                        cursor: pointer
                &:hover
                    .info-box
                        opacity: 100
                        bottom: 1em
