@import index

//Navbar {Starts}
.navbar
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 1.2em
    flex: 0.1
    // Logo
    .logo
        img
            width: 11em
    // Links
    .buttons
        display: flex
        color: $cream
        .button
            font-size: 1.3em
            margin-left: 0.8em
            text-transform: uppercase
