@import index

.productos
    display: flex
    height: 100%
    .title
        h1
            &::before
                content: "Productos"

    .content
        flex: 0.7
        .cards
            padding: 0 0 0 3em
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            gap: 1em 1em
            width: 100%
            .card
                width: 100%
                background-color: $cream
                height: 18em
                border-radius: 0.2em
                transition: all 0.4s ease
            
